{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <h1 class="card-title text-center">Contacto</h1>
    <div class="card text-center" style="padding: 5% 30%">
        <form action="." method="post">
            {% csrf_token %}
            <p class="font-weight-bold">
                Si necesitas mayor información, completa el siguiente formulario.
                Te contactaremos a la brevedad.
            </p>

            <div class="form-group" align="left">
                <label for="">Nombre:</label>
                <input type="text" class="form-control" name="name" required>
            </div>

            <div class="form-group" align="left">
                <label for="">Correo:</label>
                <input type="email" class="form-control" name="mail" required>
            </div>

            <div class="form-group" align="left">
                <label for="">Teléfono:</label>
                <input type="number" class="form-control" name="phone" required>
            </div>

            <div class="form-group" align="left">
                <label for="">Asunto:</label>
{#                <input type="text" class="form-control" name="subject" required>#}
                <select name="subject" id="subject" class="form-control">
                    <option value="Información" selected>Información</option>
                    <option value="Reclamo">Reclamo</option>
                    <option value="Ventas">Ventas</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>

            <div class="form-group" align="left">
                <label for="">Mensaje:</label>
                <textarea name="message" class="form-control" id="" cols="30" rows="10" required></textarea>
            </div>


            <button type="submit" class="btn btn-primary">Enviar</button>

        </form>
    </div>


{% endblock %}