<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        header {
            background-color: #90d7ff;
            align-content: center;
            padding: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <header>
        <h3 align="center">
            Contacto ferretería FERME
        </h3>
    </header>

    ¡Gracias por ponerse en contacto con nosotros!
    <p>Datos de contacto:</p>
    <ul>
        <li>Nombre: {{ name }}</li>
        <li>Correo de contacto: {{ mail }}</li>
        <li>Teléfono de contacto: {{ phone }}</li>
        <li>Asunto: {{ subject }}</li>
        <li>Mensaje: {{ message }}</li>
    </ul>
</div>
</body>
</html>