{% extends 'core/exportable_base.html' %}
{% load static %}


{% block titulo_lista %}
    <h3 class="card-title text-center">
        <i class="fas fa-list"></i>
        Detalle Boleta N°: {{ index }}
    </h3>
{% endblock %}

{% block columnasPrint %}
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio unitario</th>
        <th>Total item</th>
    </tr>
{% endblock %}

{% block filasPrint %}

    {% for detalle in detalles %}

        <tr>
            <td>{{ detalle.id_producto }}</td>
            <td>{{ detalle.cantidad }}</td>
            {% load humanize %}
            <td> ${{ detalle.precio_unit | intcomma }}</td>
            <td>${{ detalle.total_item }}</td>
        </tr>

    {% endfor %}


{% endblock %}

{% block scripts %}
    <script>
        function f(){
            var doc = new jsPDF();
            var elementHTML = $('#content').html();
            var specialElementHandlers = {
                '#elementH': function (element, renderer) {
                    return true;
                }
            };
            doc.fromHTML(elementHTML, 15, 15, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });

// Save the PDF
            doc.save('Boleta.pdf');
        }
    </script>
{% endblock %}

{% block boton_lista %}
    <div align="right" style="margin-right: 13%"><a >Total: ${{ total | intcomma }}</a></div>
{% endblock %}

{% block export %}
    <button type="button" class="btn btn-primary" onclick="f()" id="test" style="margin-left: 10%; margin-bottom: 3%; margin-top: 3%">
        Guardar Boleta
    </button>
{% endblock %}