{% extends 'core/lista_base.html' %}
{% load static %}
{#{% load crispy_forms_tags %}#}
{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block titulo_lista %}
    <h3 class="card-title text-center">
        <i class="fas fa-list"></i>
        Orden de compra N°: {{ index }}
    </h3>
{% endblock %}

{% block columnas %}
    <tr>
        <th>Creado por: / Fecha</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio unitario</th>

    </tr>
{% endblock %}

{% block filas %}



    {% for detalle in detalles %}

        <tr>

            <td>{{ detalle.id_orden }}</td>
            <td>{{ detalle.id_producto }}</td>
            <td>{{ detalle.cantidad }}</td>
            {% load humanize %}
            <td> ${{ detalle.precio_unit | intcomma }}</td>


        </tr>

    {% endfor %}


{% endblock %}