{% extends 'core/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/register.css' %}">
{% endblock %}


{% block content %}
    <div class="card">
        <form action='.' method="POST">
            <div class="card-header">Registro de nuevo usuario</div>
            <div class="card-body">
                {% csrf_token %}
                {% for field in form.visible_fields %}

                    <div class="form-group">
                        <label for="email">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    Registrarse
                </button>
            </div>
        </form>
    </div>


{% endblock %}