{% extends 'core/exportable_base.html' %}
{% load static %}
{#{% load crispy_forms_tags %}#}
{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block title %}
    factura
{% endblock %}


{% block titulo_lista %}
    <h3 class="card-title text-center">
        <i class="fas fa-list"></i>
        Detalles Factura N°: {{ index }}
    </h3>

        <div>


                    <h5> Nombre: {{ cliente.0 }} {{ cliente.1 }}</h5>
                    <h5> Teléfono: {{ cliente.2 }}</h5>
                    <h5> Factura N°: {{ factura.0 }}</h5>
                    <h5> Fecha: {{ factura.1 }}</h5>
                    <h5> Giro: {{ factura.2 }}</h5>
                    <h5> Razón Social: {{ factura.3 }}</h5>
                    <h5> Dirección {{ factura.4 }}</h5>


        </div>


{% endblock %}

{% block data %}
    <td>{{ factura.nro_factura }}</td>
{% endblock %}

{% block columnasPrint %}
    <tr>
        <th>Numero: / Fecha</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio unitario</th>
        <td>Total item</td>

    </tr>

{% endblock %}

{% block filasPrint %}
    {% for detalle in detalles %}
        <tr>
            <td>{{ detalle.nro_factura }}</td>
            <td>{{ detalle.id_producto }}</td>
            <td>{{ detalle.cantidad }}</td>
            {% load humanize %}
            <td> ${{ detalle.precio_unit | intcomma }}</td>
            <td> ${{ detalle.total_item | intcomma }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script>
        function f(){
            var doc = new jsPDF('p', 'pt', 'a4');
            var elementHTML = $('#content').html();
            var specialElementHandlers = {
                '#elementH': function (element, renderer) {
                    return true;
                }
            };
            doc.fromHTML(elementHTML, 15, 15, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });

// Save the PDF
            doc.save('Factura{{ index }}.pdf');
        }
    </script>
{% endblock %}

{% block boton_lista %}
    <div align="right" style="margin-right: 13%">
        <h5 >Neto: ${{ neto | intcomma }}</h5>
        <h5 >Iva: ${{ iva | intcomma }}</h5>
        <h5 >Total: ${{ total | intcomma }}</h5>
    </div>
{% endblock %}

{% block export %}
    <button type="button" class="btn btn-primary" onclick="f()" id="test" style="margin-left: 10%; margin-bottom: 3%; margin-top: 3%">
        Exportar Factura
    </button>
{% endblock %}