{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}




    <div  id="DetalleOrden" style="margin: 10% 20%">

        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title">Ingreso de productos venta</h4>

            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="" method="post">

                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center">
                        {% if listaVacia == 0 %}
                            <button type="submit" class="btn btn-primary" style="margin-top: 10px">Guardar</button>
                            <div  class="btn btn-primary" style="margin-top: 10px"> <a style="color: white" href="{% url 'home' %}"> Cancelar </a></div>
                        {% else%}
                            <button type="submit" class="btn btn-primary" style="margin-top: 10px" href="{% url 'VentasAdmin' %}">Guardar y continuar</button>
                            <div  class="btn btn-primary" style="margin-top: 10px"> <a style="color: white" href="{% url 'home' %}"> Finalizar </a></div>
                        {% endif %}
                    </div>

                </form>

            </div>



        </div>

    </div>


{% endblock %}