{% extends 'core/exportable_base.html' %}
{% load static %}
{#{% load crispy_forms_tags %}#}
{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block titulo_lista %}
    <h3 class="card-title text-center">
        <i class="fas fa-list"></i>
        Venta N°: {{ index }}
    </h3>
{% endblock %}

{% block columnasPrint %}
    <tr>
        <th>Venta</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio unitario</th>
        <th>Total item</th>

    </tr>
{% endblock %}

{% block filasPrint %}



    {% for detalle in detalles %}

        <tr>

            <td>{{ detalle.id_venta }}</td>
            <td>{{ detalle.id_producto }}</td>
            <td>{{ detalle.cantidad }}</td>
            {% load humanize %}
            <td> ${{ detalle.precio_unit | intcomma }}</td>
            <td> ${{ detalle.total_item |intcomma }}</td>


        </tr>

    {% endfor %}


{% endblock %}

{% block scripts %}
    <script>
        function f(){
            var doc = new jsPDF();
            var elementHTML = $('#content').html();
            var specialElementHandlers = {
                '#elementH': function (element, renderer) {
                    return true;
                }
            };
            doc.fromHTML(elementHTML, 15, 15, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });

// Save the PDF
            doc.save('Venta{{ index }}.pdf');
        }
    </script>
{% endblock %}

{% block boton_lista %}
    <div align="right" style="margin-right: 13%"><a >Total: ${{ total | intcomma }}</a></div>
{% endblock %}

{% block export %}
    <button type="button" class="btn btn-primary" onclick="f()" id="test" style="margin-left: 10%; margin-bottom: 3%; margin-top: 3%">
        Guardar Comprobante
    </button>
{% endblock %}