{% extends 'core/exportable_base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block titulo_lista %}
    <h3 class="card-title text-center">
        <i class="fas fa-list"></i>
        Orden de compra N°: {{ index  }}
    </h3>
{% endblock %}

{% block columnasPrint %}
    <tr>
        <th>Orden</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio unitario</th>
        <th>Total item</th>
        {% if estado == '1' %}
            <th>Opciones</th>
        {% endif %}




    </tr>
{% endblock %}

{% block filasPrint %}



    {% for detalle in detalles %}

        <tr>

            <td>{{ detalle.id_orden }}</td>
            <td>{{ detalle.id_producto }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td> ${{ detalle.precio_unit | intcomma }}</td>
            <td> ${{ detalle.total_item }}</td>
            <td> {% if estado == '1' %}
                    <a href="{% url 'EditarDetalleOrden' detalle.num_detalle%}" class="btn btn-warning btn-flat"><i
                        class="fas fa-edit"></i></a>
                 {% endif %}
            </td>

        </tr>
    {% endfor %}

    <div class="modal fade" id="OrdenCompra" id="hidden">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header text-center">
                    <h4 class="modal-title">Nuevo registro orden de compra</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ formulario | crispy }}

                        <button type="submit" class="btn btn-primary">Crear</button>
                    </form>
                </div>



            </div>
        </div>
    </div>


{% endblock %}






{% block boton_lista %}
    {% if estado == '1' %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#OrdenCompra">
            Añadir productos
        </button>

    {% endif %}
    <div align="right" style="margin-right: 13%"><a >Total: ${{ total | intcomma }}</a></div>
{% endblock %}
{% block scripts %}
    <script>
        function f(){
            var doc = new jsPDF();
            var elementHTML = $('#content').html();
            var specialElementHandlers = {
                '#hidden': function (element, renderer) {
                    return true;
                }
            };
            doc.fromHTML(elementHTML, 15, 15, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });

// Save the PDF
            doc.save('Venta{{ index }}.pdf');
        }
    </script>
{% endblock %}

{% block export %}
    <button type="button" class="btn btn-primary" onclick="f()" id="test" style="margin-left: 10%; margin-bottom: 3%; margin-top: 3%">
        Guardar Comprobante
    </button>
{% endblock %}